@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Flex:opsz,wght@8..144,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/images/background.jpg");

  max-width: 700px;
  margin: 0 auto;
}
h1 {
  font-size: 52px;
  text-align: center;
}
.area-title {
  font-family: "Roboto Flex", sans-serif;

  background-color: rgb(129, 119, 119);
  color: antiquewhite;
}
.container {
  display: flex;
  background-color: rgb(129, 119, 119);
  /* outline: 1px solid black; */
  box-shadow: 3px 3px rgba(0, 0, 0, 0.616);
}
.area-tools {
  user-select: none;

  flex-grow: 2;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid green;
}
button {
  padding: 1rem;
  border: 0px;
  border-radius: 10%;
  font-family: "Open Sans";
  font-size: large;
  box-shadow: 2px 5px 20px rgba(3, 2, 2, 0.658);
}
.area-sketch {
  flex-shrink: 0;
  cursor: crosshair;
  background-color: aliceblue;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.288);
  outline: 1px solid grey;
  display: grid;
  /* flex-shrink: 0; */
  /* flex-wrap: wrap; */
  width: 450px;
  height: 450px;
  grid-template-columns: repeat(4, 1fr);
}

.grid-outline div {
  outline: 1px dashed lightgrey;
}

.area-sketch div {
  user-select: none;
}
@media only screen and (max-width: 600px) {
  .area-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1px;
  }
  .container {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
